<!--<nb-card>
  <nb-card-header>{{title}}</nb-card-header>
  <nb-card-footer>
    <form #f="ngForm" name="f" (ngSubmit)="f.form.valid && save()">
      <div class="row">
        <div class="form-group">
          <label for="content" class="label">{{message}}</label>
          <textarea #contentInput="ngModel" required rows="5"  id="content" name="content" [(ngModel)]="content" nbInput fullWidth placeholder="{{placeholder}}"></textarea>
          <div *ngIf="f.submitted && contentInput.invalid" class='error-label'>
            <div *ngIf="contentInput.errors.required">Ce champ est obligatoire</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <button outline type="submit" status="success" nbButton>Continuer</button>
        </div>
        <div class="offset-sm-3 col-sm-3">
          <button outline nbButton status="warning" (click)="cancel()">Annuler</button>
        </div>
      </div>
    </form>
  </nb-card-footer>
</nb-card>-->
