<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/image/618265361.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>Découvrez notre oasis de bien-être.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/image/onglerie-Institut-beaute-Aquareve-Pusey.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p style="color: rgb(46, 46, 46);">Des experts à votre service.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/image/618265361.jpg" class="d-block w-100" alt="...">
      <!-- <img src="/assets/image/makeUp.jpg" class="d-block w-100" alt="..."> -->
      <div class="carousel-caption d-none d-md-block">
        <p>Offrez-vous une pause beauté.</p>
      </div>
    </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
<h1 class="nos_service">Nos services</h1>
<mat-divider [inset]="true"> </mat-divider>

<div class="row justify-content-center" style="margin-bottom: 10vh; margin-top: 5vh;" *ngIf="isLoading">
  <div class="col-1 text-center">
    <mat-spinner diameter="100" color="accent"></mat-spinner>
  </div>
  <!-- <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize" [disabled]="false"
    [showFirstLastButtons]="true" [pageSizeOptions]="[3,5,10,25,100]" [hidePageSize]="hidePageSize"
    [pageIndex]="pageIndex" aria-label="Select page">
  </mat-paginator> -->

</div>

<div class="row">
  <div *ngFor="let service of services" class="col-12 col-sm-6 col-md-4">
    <mat-card class="example-card">
      <img mat-card-image src="{{ service.image }}" alt="Image de representation de {{ service.image }}" />

      <mat-card-header class="justify-content-center">
        <mat-card-title class="justify-content-center">
          <h2>{{ service.nom | titlecase }}</h2>
        </mat-card-title>
        <!-- <mat-card-subtitle>Manicure</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-actions>
        <div class="row w-100">
          <div class="col-12">
            <h4 *ngIf="service.estEnPromotion == true">
              <b>Prix: </b>
              <span class="text-decoration-line-through text-danger px-2">{{ service.prix | currency: 'Ar' }}</span>
              <span>{{ service.prixPromotion | currency: 'Ar' }}</span>
            </h4>
            <h4 *ngIf="service.estEnPromotion == false">
              <b>Prix: </b>{{service.prix | currency: 'Ar' }}
            </h4>
          </div>
          <div class="col-12">
            <h5 *ngIf="service.estEnPromotion == true">
              <b>Promotion: </b>
              <span>{{ service.promotionActuelle.dateDebut | date: 'd MMMM yyyy' }} jusqu'au {{
                service.promotionActuelle.dateFin | date: 'd MMMM yyyy' }}</span>
            </h5>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>