mat-grid-tile {
  background: rgba(240, 237, 239, 0.397);
}
.grid{

  margin-top: 300px;


}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-grid-list
{
  margin-top: 50px;
  margin-bottom: 8px;
}

.example-card{
  margin-left: 50px;
  max-width: 400px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.nos_service{
  text-align: center;
  font-family: Georgia;
}

