<div class="container">

  <div class="row">
    <div class="col text-center">
      <h1>Statistiques</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <h2>
            <span class="me-2 icon material-symbols-outlined">euro</span>
            <span>Chiffre d'affaire du jour <small>({{ dateToday | date: "MM/d/yyyy" }})</small></span>
          </h2>
          <div class="row px-4">
            <div class="col-12 col-md-6 pt-3">
              <b>{{ caJour | currency: "Ar": 'symbol': '0.2-2' : 'fr' }}</b>
            </div>
            <div class="col-12 col-md-6 text-end">
              <div class="row text-end">
                <div class="col">
                  <span *ngIf="rapportCaJour >= 0">+</span>
                  <span *ngIf="rapportCaJour < 0">-</span>
                  {{ rapportCaJour }} %
                  <span *ngIf="rapportCaJour >= 0">
                    <span class="icon material-symbols-outlined" style="color: green;">
                      trending_up
                    </span>
                  </span>
                  <span *ngIf="rapportCaJour < 0">
                    <span class="icon material-symbols-outlined" style="color: red;">
                      trending_down
                    </span>
                  </span>
                </div>
              </div>
              Par rapport hier
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <h2>
            <span class="me-2 icon material-symbols-outlined">euro</span>
            <span>Chiffre d'affaire du mois <small>({{ dateToday | date: "MMMM yyyy" }})</small></span>
          </h2>
          <div class="row px-4">
            <div class="col-12 col-md-6 pt-3">
              <b>{{ caMois | currency: "Ar": 'symbol': '0.2-2' : 'fr' }}</b>
            </div>
            <div class="col-12 col-md-6 text-end">
              <div class="row text-end">
                <div class="col">
                  <span *ngIf="rapportCaMois >= 0">+</span>
                  <span *ngIf="rapportCaMois < 0">-</span>
                  {{ rapportCaMois }} %
                  <span *ngIf="rapportCaMois >= 0">
                    <span class="icon material-symbols-outlined" style="color: green;">
                      trending_up
                    </span>
                  </span>
                  <span *ngIf="rapportCaMois < 0">
                    <span class="icon material-symbols-outlined" style="color: red;">
                      trending_down
                    </span>
                  </span>
                </div>
              </div>
              Par rapport mois dernier
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <h2>
            <span class="me-2 icon material-symbols-outlined"><span class="material-symbols-outlined">
                account_balance
              </span></span>
            <span>Bénéfice du mois <small>({{ dateToday | date: "MMMM yyyy" }})</small></span>
          </h2>
          <div class="row px-4">
            <div class="col-12 col-md-6 pt-3">
              <b>{{ beneficeMois | currency: "Ar": 'symbol': '0.2-2' : 'fr' }}</b>
            </div>
            <div class="col-12 col-md-6 text-end">
              <div class="row text-end">
                <div class="col">
                  <span *ngIf="rapportBeneficeMois >= 0">+</span>
                  <span *ngIf="rapportBeneficeMois < 0">-</span>
                  {{ rapportBeneficeMois }} %
                  <span *ngIf="rapportBeneficeMois >= 0">
                    <span class="icon material-symbols-outlined" style="color: green;">
                      trending_up
                    </span>
                  </span>
                  <span *ngIf="rapportBeneficeMois < 0">
                    <span class="icon material-symbols-outlined" style="color: red;">
                      trending_down
                    </span>
                  </span>
                </div>
              </div>
              Par rapport mois dernier
            </div>
          </div>
        </div>
      </div>

    </div>

    <br class="my-2" />

    <div class="row justify-content-center my-4">
      <div class="col-12 col-md-8">
        <div class="card">
          <div class="card-header">
            <h2>Temps de travail moyen des employés</h2>
          </div>
          <div class="card-body">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource">
                <!-- Employe Column -->
                <ng-container matColumnDef="employe">
                  <th mat-header-cell *matHeaderCellDef> Employe </th>
                  <td mat-cell *matCellDef="let element">{{ element.employe.nom }} {{ element.employe.prenom }}</td>
                </ng-container>
                <!-- Temps de travail moyen Column -->
                <ng-container matColumnDef="tempsTravailMoyen">
                  <th mat-header-cell *matHeaderCellDef> Temps de travail moyen </th>
                  <td mat-cell *matCellDef="let element" class="text-end"> {{ element. tempsTravailMoyen}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row">

    <div class="col-12 col-md-4 p-4">
      <table class="table">
        <tr>
          <th>Date</th>
          <th>Chiffre d'affaire(Ar)</th>
        </tr>
        <tr>
          <td>24/02/2024</td>
          <td class="text-end">240 000.00</td>
        </tr>
      </table>
    </div>

    <div class="col-12 col-md-4 p-4">
      <table class="table">
        <tr>
          <th>Mois</th>
          <th>Chiffre d'affaire(Ar)</th>
        </tr>
        <tr>
          <td>24/02/2024</td>
          <td class="text-end">240 000.00</td>
        </tr>
      </table>
    </div>

    <div class="col-12 col-md-4 p-4">
      <table class="table">
        <tr>
          <th>Mois</th>
          <th>Bénéfice (Ar)</th>
        </tr>
        <tr>
          <td>24/02/2024</td>
          <td class="text-end">240 000.00</td>
        </tr>
      </table>
    </div>


  </div> -->

  </div>