h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

h2 small {
    font-weight: lighter;
    font-size: small;
}

.icon {
    font-size: xx-large;
    color: pink;
}

.card {
    min-height: 20vh;
}