.title{
    text-align: center;
    color:#c69294 ;
    text-decoration: underline;
    font-family:cursive;
    margin-bottom: 50px;
  }
  .material-symbols-outlined{
    cursor: pointer;
  }
  mat-icon{
    cursor: pointer;
  }