
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{data.title}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>{{ data.message }}</p>
      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-actions>
      
        <button mat-button (click)="onNoClick()">Non</button>
        <button mat-button  cdkFocusInitial (click)="confirm()">D'accord</button>
     
    </mat-card-actions>

    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>

  </mat-card>

