<div class="container">

  <div class="card text-center" id="card-search">
    <div class="card-body" id="recherche">
      <div class="example-container">
        <mat-form-field >
          <mat-label>(client,service)</mat-label>
          <input matInput #input name="recherche" id="recherche" [(ngModel)]="filtre_recherche">
        </mat-form-field>
        <mat-form-field >
          <mat-label>Choisir un statut</mat-label>
          <mat-select [(ngModel)]="filter_statut" name="statut">
            <mat-option value="tout">Tout</mat-option>
            <mat-option value="traite">Validé</mat-option>
            <mat-option value="en cours" >En attente</mat-option>

          </mat-select>
        </mat-form-field>


          <button mat-fab extended color="accent"  (click)="filter()">
                  <mat-icon>search</mat-icon>
                  Rechercher
          </button>
      </div>


  </div>

    <div class="card text-center">
      <div class="card-header">
        <h1 class="title">Liste des rendez-vous faits et en cours </h1>
      </div>
      <div class="card-body">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
            <!-- Date Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{ element.date | date : 'medium' }} </td>
            </ng-container>
            <!-- Prestation Column -->
            <ng-container matColumnDef="prestations">
              <th mat-header-cell *matHeaderCellDef> Services </th>
              <td mat-cell *matCellDef="let element">
                <ul>
                  <li *ngFor="let prestation of element.prestations" >
                    <span *ngIf="prestation.service != null" >{{ prestation.service.nom }}</span>
                  </li>
                </ul>
              </td>
            </ng-container>
            <!-- Montant Column -->
            <ng-container matColumnDef="montant">
              <th mat-header-cell *matHeaderCellDef> Montants (Ariary)</th>
              <td mat-cell *matCellDef="let element" style="text-align: right;"> {{element.montant}} </td>
            </ng-container>
            <!-- Gestionnaire Column -->
            <ng-container matColumnDef="client">
              <th mat-header-cell *matHeaderCellDef> Client </th>
              <td mat-cell *matCellDef="let element"> {{element.client.nom}} {{ element.client.prenom }} </td>
            </ng-container>

            <ng-container matColumnDef="statut">
              <th mat-header-cell *matHeaderCellDef> Satut </th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="element.estRealise==false" class="material-symbols-outlined waiting">
                  hourglass_bottom
                </span>
                <span *ngIf="element.estRealise==true" class="material-symbols-outlined done">
                  task_alt
                </span>

              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action(s) </th>
              <td mat-cell *matCellDef="let element">
                <section>
                  <div class="example-button-row">
                    <div class="example-flex-container">
                      <div  *ngIf="element.estRealise==false" class="example-button-container">
                        <button  mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon" (click)="deleteRendezVous(element._id)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                      <div *ngIf="element.estRealise==false" class="example-button-container">
                        <button mat-mini-fab  aria-label="Example icon button with a home icon" (click)="createRendezVous(element._id)">
                          <mat-icon>done</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </section>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
            <mat-progress-spinner color="accent" [diameter]="35" mode="indeterminate"></mat-progress-spinner>
          </div>

          <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
          [disabled]="false" [showFirstLastButtons]="true" [pageSizeOptions]="[5,10,25,100]"
          [hidePageSize]="hidePageSize" [pageIndex]="pageIndex" aria-label="Select page">
          </mat-paginator>
        </div>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
  </div>

