<h2 mat-dialog-title>Proceder au paiement</h2>
<mat-dialog-content>
  <section class="example-section">
    <mat-radio-group aria-label="Select an option" [(ngModel)]="compte" name="compte">

      <mat-radio-button *ngIf="data_prestation.client.compte.mvola" value="mvola" >Mvola</mat-radio-button>
      <mat-radio-button *ngIf="data_prestation.client.compte.orange" value="orange" >Orange monney</mat-radio-button>
      <mat-radio-button *ngIf="data_prestation.client.compte.airtel" value="airtel" >Airtel monney</mat-radio-button>
    </mat-radio-group>
  </section>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="validerPaiement(data_prestation._id)">Valider</button>
  <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
    <mat-progress-spinner color="accent" [diameter]="35" mode="indeterminate"></mat-progress-spinner>
  </div>
</mat-dialog-actions>
