<mat-dialog-content>
  <div class="row">
    <div class="col-11">
      <h2><mat-icon>add</mat-icon> Ajout de compte pour les paiements</h2>
    </div>
    <div class="col-1"> <button mat-icon-button class="btn_close"
        (click)="closeDialog()"><mat-icon>close</mat-icon></button></div>
  </div>
  <form class="example-form" novalidate>


    <section class="example-section">
      <mat-radio-group aria-label="Select an option" [(ngModel)]="compte" name="compte" (change)="checkVerif($event)">
        <mat-radio-button value="mvola" >Mvola</mat-radio-button>
        <mat-radio-button value="orange" >Orange monney</mat-radio-button>
        <mat-radio-button value="airtel" >Airtel monney</mat-radio-button>
      </mat-radio-group>
    </section>


      <mat-form-field class="example-full-width" *ngIf="isVisibleMontant">
        <span matTextPrefix><mat-icon>payments</mat-icon> &nbsp;</span>
        <mat-label>Montant</mat-label>
        <input matInput type="number" class="example-right-align" [(ngModel)]="montant" id="montant" name="montant" minlength="1"
          placeholder="0" required>
        <span matTextSuffix>.00</span>

      </mat-form-field>


    <mat-dialog-actions>
      <button mat-fab extended id="btn_valider" (click)="registerCompte()"><mat-icon>done</mat-icon> Valider</button>
      <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
        <mat-progress-spinner color="accent" [diameter]="35" mode="indeterminate"></mat-progress-spinner>
      </div>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
