<mat-toolbar class="toolbar-container">
  <a class="logo" [routerLink]="['/pages/accueil']"><img class="logo1" src="/assets/image/icon_girly.jpg" width="50"/> <strong id="logo2"> QUEEN <span id="logo3">BEAUTY</span></strong></a>
      <span class="example-spacer"></span>
      <button mat-button mat-stroked-button (click)="signin()">Se connecter</button>
      <button mat-button class="btn_pink" mat-stroked-button (click)="openDialogInscription()">Inscription</button>
      <button mat-icon-button  aria-label="Example icon-button with a menu">
        <mat-icon>
          notifications
          </mat-icon>
      </button>
      <button mat-icon-button  aria-label="Example icon-button with a menu">
        <mat-icon>
          account_circle
          </mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="isVisibleButtonMenu">
        <mat-icon>
          settings
          </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>manage_accounts</mat-icon>
          <span>Profil</span>
        </button>
        <button mat-menu-item>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Deconnexion</span>
        </button>
      </mat-menu>

</mat-toolbar>

