<mat-dialog-content>
	<div class="row">
		<div class="col-11">
			<h2>Enregistrer une promotion</h2>
		</div>
		<div class="col-1">
			<button mat-icon-button class="btn_close" (click)="closeDialog()">
				<mat-icon>close</mat-icon>
			</button>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-12 col-md-8 px-2">
			<form class="example-form" #myform="ngForm" novalidate>
				<mat-form-field class="example-full-width">
					<mat-label>Description</mat-label>
					<input matInput type="text" #nom="ngModel" [(ngModel)]="promotionServiceRequest.description" id="description" name="decription" minlength="1" required>
				</mat-form-field>

				<mat-form-field class="example-full-width">
					<span matTextPrefix><mat-icon>payments</mat-icon> &nbsp;</span>
					<mat-label>Taux de réduction</mat-label>
					<input matInput type="number" class="example-right-align" #prix="ngModel" [(ngModel)]="promotionServiceRequest.pourcentageReduction" id="pourcentageReduction"
						name="pourcentageReduction" minlength="1" placeholder="0" required>
					<span matTextSuffix>.00</span>
				</mat-form-field>

				<mat-form-field class="example-full-width" floatLabel="always">
					<span matTextPrefix><mat-icon>timer</mat-icon> &nbsp;</span>
					<mat-label>Date de début de la promotion</mat-label>
					<input matInput type="date" #dure="ngModel" [(ngModel)]="promotionServiceRequest.dateDebut" id="dateDebut" name="dateDebut" required>
				</mat-form-field>

				<mat-form-field class="example-full-width" floatLabel="always">
					<span matTextPrefix><mat-icon>timer</mat-icon> &nbsp;</span>
					<mat-label>Date de fin de la promotion</mat-label>
					<input matInput type="date" #dure="ngModel" [(ngModel)]="promotionServiceRequest.dateFin" id="dateFin" name="dateFin" required>
				</mat-form-field>

				<mat-dialog-actions class="justify-content-center" >
					<button mat-fab extended id="btn_valider"
						(click)="addPromotion()"><mat-icon>done</mat-icon>Valider</button>
            <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
              <mat-progress-spinner color="accent" [diameter]="35" mode="indeterminate"></mat-progress-spinner>
            </div>
				</mat-dialog-actions>
			</form>
		</div>
	</div>

</mat-dialog-content>
