.example-form {
  //min-width: 150px;
  //max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
.btn_close{
  color: #c69294f8;
}
#btn_valider{
  background-color: rgba(53, 51, 51, 0.575);
  color: white;
  margin-left: 50%;
}
h2{
 text-align: center;
 font-size: 30px;
}
.button-container-div{
  text-align: center!important;
}
.icon_circle{
  size: 500px;
}
.forgot_pass{
  cursor: pointer;
  text-decoration: underline;
}
.spinner{
 margin-left: 50%;
}
.error-message{
  text-align: center;
}

